.l-content {
  margin-top: $space-biggest;
  padding: $space-big $space-regular;
  &.addBlur {
    filter: blur(5px);
  }
  @include media(md) {
    padding: $space-big;
  }
  @include media(lg) {
    position: absolute;
    top: 0;
    left: 320px;
    margin: 0;
    padding: $space-big $space-big $space-big 0;
  }
  @include media('1400px') {
    right: 320px;
  }
}
