@import "../base/colors";

.l-sidebar {
  z-index: 400;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: $space-big $space-regular;
  background-color: $white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  @include media (sm) {
    max-width: 320px;
  }
  &--left {
    left: 0;
    transform: translateX(-100%);
    @include media(lg) {
      transform: translateX(0);
    }
  }
  &--right {
    right: 0;
    transform: translateX(100%);
    @include media(xl) {
      transform: translateX(0);
    }
  }
  &.active {
    box-shadow: 2px 0 30px -10px $black;
    transform: translateX(0);
    @include media(xl) {
      box-shadow: none;
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: $space-small;
    right: $space-small;
    border: none;
    background-color: transparent;
    padding: $space-small;
    color: $red;
    font-size: 20px;
    @include media(lg) {
      display: none;
    }
  }
}
