.c-navbar {
  z-index: 300;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px $blackopmed;
  width: 100%;
  height: 60px;
  background-color: $lightergray;
  @include media(lg) {
    display: none;
  }
  &.addBlur {
    filter: blur(5px);
  }
  &__logo {
    margin-left: $space-regular;
    height: 40px;
  }
  &__nav {
    color: $red;
    .twitter, .menu {
      cursor: pointer;
      margin-right: $space-regular;
      font-size: 20px;
    }
    .twitter {
      color: $twitterblue;
    }
  }
}
