.c-portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  > div {
    flex: 1 1 320px;
    margin: $space-regular;
    @include media('1650px') {
      flex: 0 0 calc((100% / 3) - 30px);
    }
  }
}
