.c-project {
  position: relative;
  background-color: transparent;
  &__img {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .h-overlay-black-medium {
      transform: translateY(-100%);
      transition: transform 0.2s ease-in-out;
    }
    .c-project__icon {
      position: absolute;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: $red;
      color: $white;
      font-size: 36px;
      transition: top 0.2s ease-in-out;
    }
    &:hover {
      .h-overlay-black-medium {
        transform: translateY(0);
      }
      .c-project__icon {
        top: 70px;
      }
    }
    &.zenemig {
      background-image: url('assets/zenemig.png');
    }
    &.leaflink {
      background-image: url('assets/leaflink.png');
    }
    &.modyo {
      background-image: url('assets/consorcio.png');
    }
    &.ubiome {
      background-image: url('assets/ubiome.jpeg');
    }
    &.manetch {
      background-image: url('assets/manetch.jpg');
    }
  }
  &__tags {
    margin: $space-small 0;
    font-size: 12px;
    .icon {
      margin-right: $space-smallest;
      color: $red;
    }
  }
  &__title {
    margin-bottom: $space-regular;
  }
  &__description {
    font-size: 16px;
    line-height: 21px;
  }
  &__footer {
    margin: 0 0 $space-regular 0;
    font-size: 12px;
    .employer, .project-url {
      margin-bottom: $space-smallest;
      .icon {
        margin-right: $space-smallest;
      }
    }
  }
}
