.sidebar-work {
  display: block;
  margin-bottom: 15px;
  .sidebar-work-position {
    margin-bottom: 5px;
    font-size: 20px;
    color: $darkgray;
  }
  .sidebar-work-company {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
  }
}