.c-twitter-sidebar {
  padding: 0;
  &__toggle-button {
    cursor: pointer;
    position: absolute;
    top: $space-regular;
    left: -60px;
    display: none;
    outline: none;
    box-shadow: 0px 2px 5px $gray;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: $white;
    font-size: 16px;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $darkinstagramviolet;
    }
    @include media(lg) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
    @include media('1400px') {
      display: none;
    }
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .l-sidebar__close {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  &__title {
    margin: $space-regular;
    padding: 0;
    font-family: $font-body;
    font-size: 16px;
    a {
      font-size: 18px;
    }
  }
  &__feed {
    overflow: scroll;
    height: calc(100% - 51px);
    padding: 0 $space-smallest;
    @include media(lg) {
      padding-top: 0;
    }
  }
  &.active {
    .c-twitter-sidebar__toggle-button {
      background: $red;
    }
  }
}
