.c-twitter-sidebar {
  padding: 0 $space-regular;
  &__toggle-button {
    cursor: pointer;
    position: absolute;
    top: $space-regular;
    left: -60px;
    display: none;
    outline: none;
    box-shadow: 0px 2px 5px $gray;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: $twitterblue;
    color: $white;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $darktwitterblue;
    }
    @include media(lg) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .l-sidebar__close {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  &__title {
    margin: 0;
    font-size: 18px;
    @include media(lg) {
      padding: $space-regular 0;
    }
  }
  &__feed {
    overflow: scroll;
    height: 100%;
    @include media(lg) {
      padding-top: 0;
    }
  }
}
